NUXT_PUBLIC_BASE_URL=http://localhost:3000
NUXT_PUBLIC_API_URL=http://localhost:8080

NUXT_PUBLIC_STORAGE_URL=https://1xg7ah.leapcellobj.com/brandingku-wwlg-sww3-pysqn53v
NUXT_PUBLIC_GRAPHQL_PATH=/query